*{
    padding: 0;
    margin: 0;
    font-size: 10px;
    font-family: Play-Regular;
}
@font-face {
    font-family: 'Play-Bold';
    src: url('../fonts/Play-Bold.eot');
    src: url('../fonts/Play-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Play-Bold.woff') format('woff'),
         url('../fonts/Play-Bold.ttf') format('truetype'),
         url('../fonts/Play-Bold.svg#../fonts/Play-Bold') format('svg');
    font-style: normal;
    font-weight: normal;
}@font-face {
    font-family: 'Play-Regular';
    src: url('../fonts/Play-Regular.eot');
    src: url('../fonts/Play-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Play-Regular.woff') format('woff'),
         url('../fonts/Play-Regular.ttf') format('truetype'),
         url('../fonts/Play-Regular.svg#../fonts/Play-Regular') format('svg');
    font-style: normal;
    font-weight: normal;
}
html, body, .wrapper, .container{
    height: 100%;
}
.flex{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}
.flex-between{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
}
.flex-around{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-around;
}
.flex-center{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
}
.flex-column{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
}
.align-center{
    -ms-align-items: center;
    align-items: center;
    text-align: center;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
h1, h2, h3{
<<<<<<< Updated upstream
    color: #FFF;
=======
    font-family: walkway-black;
    color: rgb(198, 73, 255  );
    margin-top: 15px;
    text-align: center;
>>>>>>> Stashed changes
}
h1{
    font-size: 3.5em;
    font-family: Play-Bold;
}
h2{
    font-size: 5em;
    width: 400px;
}
h3{
    font-size: 2em;
}
p, a, li{
    color: #FFF;
    font-size: 1.5em;
}
.container{
    width: 1100px;
    margin: 0 auto;
}
.slide{
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    size: cover;
}
.wrapper{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}
/*===============================================================
Header
===============================================================*/
header{
    background: rgba(60, 60, 60, 0.8);
}
.navigation{
    width: 300px;
    padding: 40px 30px;
}
/*===============================================================
Home
===============================================================*/
.main-content{
    margin: 20px 0;
    background: rgba(90, 90, 90, 0.8);
    padding: 40px 20px;
}
.home{
    padding: 0 0 40px 0;
    border-bottom: 1px solid rgb(60, 60, 60)
}
.welcome-info p{
    width: 60%;
    padding: 5px 0;
}
<<<<<<< Updated upstream
.welcome-info img{
    height: 350px;
    width: 400px;
}
.welcome-text{
    width: 850px;
}


/*===============================================================
About
===============================================================*/

/*===============================================================
Gallery
===============================================================*/

/*===============================================================
Contact
===============================================================*/

















=======
.navigation li:hover{
    color: rgb(200, 200, 200);
    cursor: pointer;
}
/*================================================================
Pages
================================================================*/
.pages{
    padding: 100px 0 0 50px;
}
.page {
    background: rgba(89, 62, 108, 0.8);
    width: 700px;
    height: 550px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border: 5px solid rgb(41, 6, 65);
    border-right: 5px solid rgb(41, 6, 65);

}
.paragraph{
    margin-left: 20px;
    margin-right: 20px;
}
/*================================================================
Footer
================================================================*/
footer{
    width: 80px;
    margin: 100px 0;
    height: 550px;
    background: rgba(89, 62, 108, 0.8);
    border: 5px solid rgb(41, 6, 65);
    border-left: 2px solid rgb(41, 6, 65);
}
>>>>>>> Stashed changes
